<div id="header1" class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
          <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " routerLink="/home">
            EvenTalk
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" routerLink="/home" routerLinkActive="active">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" routerLink="/blog" routerLinkActive="active">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  Reclamation
                </a>
              </li>
              <li class="nav-item" routerLink="/events">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" routerLink="/speakers"routerLinkActive="active">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  Events
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" routerLink="/contact"routerLinkActive="active">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" routerLink="/about"routerLinkActive="active">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" routerLink="/schedule"routerLinkActive="active">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  Schedule
                </a>
              </li>
              <li class="nav-item" >
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" routerLink="/dashboard"routerLinkActive="active">
                  <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                  Dashboard
                </a>
              </li>
             
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item" routerLink="/login">
                <a  class="btn btn-sm mb-0 me-1 btn-primary">Sign In</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
